.leftAlign1 {
    padding-right:80% ;
}
.leftAlign2 {
    padding-right:70% ;
}
.leftAlign3 {
    padding-right:38% ;
}
.login-height {
    height: 400px;
}
.login {
    height: 500px;
}
.mb-10{
    margin-top: 10px;
}